<h1>views/fobs/_pageform.html.erb
<h3>Friends of the Band Comments</h3>
<div>
<p>comment one.
<p>comment two..
<p>comment three...
<p>comment four....
<p>comment five.....
</div>
<form action="/fobs/1" method="get">
  <label>Enter User Name</label>
  <input type="text" name="uname"/>
  <br>
  <label>Enter email address</label>
  <input type="text" name="em"/>
  <br>
  <label>Enter comments</label>
  <input type="text" name="cmt"/>
  <br>
  <input type="submit" name="submit" value="Submit"/>
</form>
